/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-t0f8pyd11s] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-t0f8pyd11s] {
    flex: 1;
}

.sidebar[b-t0f8pyd11s] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-t0f8pyd11s] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-t0f8pyd11s]  a, .top-row[b-t0f8pyd11s]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-t0f8pyd11s]  a:hover, .top-row[b-t0f8pyd11s]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-t0f8pyd11s]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-t0f8pyd11s] {
        justify-content: space-between;
    }

    .top-row[b-t0f8pyd11s]  a, .top-row[b-t0f8pyd11s]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-t0f8pyd11s] {
        flex-direction: row;
    }

    .sidebar[b-t0f8pyd11s] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-t0f8pyd11s] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-t0f8pyd11s]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-t0f8pyd11s], article[b-t0f8pyd11s] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-sjxwahycxf] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-sjxwahycxf] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-sjxwahycxf] {
    font-size: 1.1rem;
}

.bi[b-sjxwahycxf] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-sjxwahycxf] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-sjxwahycxf] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-sjxwahycxf] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-sjxwahycxf] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-sjxwahycxf] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-sjxwahycxf] {
        padding-bottom: 1rem;
    }

    .nav-item[b-sjxwahycxf]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-sjxwahycxf]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-sjxwahycxf]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-sjxwahycxf] {
        display: none;
    }

    .collapse[b-sjxwahycxf] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-sjxwahycxf] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/DetalleEstudiante.razor.rz.scp.css */
.resume-wrapper[b-53uj2bvsu0] {
    position: relative;
    text-align: center;
    height: 100%;
}

.container[b-53uj2bvsu0] {
    min-height: 600px;
}

.profile[b-53uj2bvsu0] {
    background: #fff;
    width: 40%;
    float: left;
    color: #9099a0;
}
    .name-wrapper[b-53uj2bvsu0] {
        float: left;
        width: 60%;
    }
    h1[b-53uj2bvsu0] {
        font-size: 2.5em;
        text-align: left;
        font-family: 'Varela Round', sans-serif;
        color: #4a4e51;
        text-transform: uppercase;
        line-height: 1em;
        padding-top: 40px;
    }
    .contact-info[b-53uj2bvsu0] {
        margin-top: 100px;
        font-weight: 300;
    }
    .list-titles[b-53uj2bvsu0] {
        float: left;
        text-align: left;
        font-weight: 600;
        width: 40%;
        color: #4a4e51;
    }
    .list-content[b-53uj2bvsu0] {
        float: left;
        width: 60%;
        text-align: left;
        font-weight: 300;
    }
}

.list-content li[b-53uj2bvsu0] {
    margin-bottom: 10px;
}

.list-content li strong[b-53uj2bvsu0] {
    color: #4a4e51;
}

.contact-info ul[b-53uj2bvsu0] {
    padding-left: 0;
}

.contact-info ul li[b-53uj2bvsu0] {
    list-style: none;
}

.contact-info ul li strong[b-53uj2bvsu0] {
    margin-right: 5px;
}

.container[b-53uj2bvsu0] {
    max-width: 960px;
    margin: 0 auto;
}
/* Estilos para la imagen del estudiante */
.student-image[b-53uj2bvsu0] {
    text-align: center; /* Centrado horizontal */
    margin-bottom: 20px; /* Espacio entre la imagen y el contenido */
}

    .student-image img[b-53uj2bvsu0] {
        border-radius: 50%; /* Hacer la imagen redonda */
        width: 400px; /* Tamaño de la imagen */
        height: 400px;
        object-fit: cover; /* Ajustar la imagen */
        border: 5px solid #add8e6; /* Borde celeste */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    }
.student-container[b-53uj2bvsu0] {
    background-color: #CDCEF7; /* Color de fondo */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 20px; /* Espaciado interno */
    margin: 20px; /* Establece márgenes automáticos en los lados izquierdo y derecho */
    width: 99%; /* Ancho del contenedor */
}
strong[b-53uj2bvsu0] {
    color: #000; /* Color de texto negro */
    font-weight: bold; /* Asegura que el texto en negrita */
}

.button-container[b-53uj2bvsu0] {
    text-align: right; /* Centra el contenido horizontalmente */
    align: center
}


.row[b-53uj2bvsu0] {
    margin-bottom: 10px;
}

.col-sm-6[b-53uj2bvsu0] {
    padding: 0 5px;
}

.form-control[b-53uj2bvsu0] {
    margin-bottom: 10px;
}

/* /Pages/Estudiante.razor.rz.scp.css */
/* Estilos para la tabla */
.table[b-4gtsbyytz6] {
    width: 100%;
    margin-bottom: 1rem;
    color: #333;
    border-collapse: collapse;
}
.h3[b-4gtsbyytz6] {
    color: #4cff00
}

.lupa-icono[b-4gtsbyytz6] {
    width: 35px; /* Ancho deseado */
    height: 35px; /* Alto deseado */
}

.lupa-button[b-4gtsbyytz6] {
    border-radius: 50%; /* Para hacer el botón circular */
    padding: 0; /* Para eliminar el espacio interior del botón */
}
.mi-clase[b-4gtsbyytz6] {
    width: 200px; /* Ajusta el ancho según tus necesidades */
}
    .table th[b-4gtsbyytz6],
    .table td[b-4gtsbyytz6] {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .table thead th[b-4gtsbyytz6] {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
        background-color: #f8f9fa; /* Color de fondo para las cabeceras */
    }

    /* Estilos alternados para filas */
    .table tbody tr:nth-of-type(odd)[b-4gtsbyytz6] {
        background-color: rgba(0, 0, 0, 0.05); /* Color de fondo para filas impares */
    }

    /* Estilos para filas al pasar el ratón */
    .table tbody tr:hover[b-4gtsbyytz6] {
        background-color: rgba(0, 0, 0, 0.075); /* Color de fondo al pasar el ratón */
    }

    /* Estilos para las celdas de la primera columna */
    .table tbody td:first-child[b-4gtsbyytz6] {
        border-left: 1px solid #dee2e6;
    }

    /* Estilos para las celdas de la última columna */
    .table tbody td:last-child[b-4gtsbyytz6] {
        border-right: 1px solid #dee2e6;
    }

    /* Estilos para la última fila */
    .table tbody tr:last-child td[b-4gtsbyytz6] {
        border-bottom: 1px solid #dee2e6;
    }
