<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d8a9c4b4-89a1-482d-88dd-ac38d3d289a1/resourcegroups/oesatgroup/providers/Microsoft.Web/sites/SistemaGestionOrquesta</ResourceId>
    <ResourceGroup>oesatgroup</ResourceGroup>
    <ApiResourceId>/subscriptions/d8a9c4b4-89a1-482d-88dd-ac38d3d289a1/resourceGroups/oesatgroup/providers/Microsoft.ApiManagement/service/SistemaGestionOrquestaapiMng/apis/SistemaGestionOrquesta</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sistemagestionorquesta.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>ab3b1f03-917a-4e12-b408-5d7d20304dc1</ProjectGuid>
    <MSDeployServiceURL>sistemagestionorquesta.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SistemaGestionOrquesta</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$SistemaGestionOrquesta</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>