/* Estilos para la tabla */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #333;
    border-collapse: collapse;
}
.h3 {
    color: #4cff00
}

.lupa-icono {
    width: 35px; /* Ancho deseado */
    height: 35px; /* Alto deseado */
}

.lupa-button {
    border-radius: 50%; /* Para hacer el botón circular */
    padding: 0; /* Para eliminar el espacio interior del botón */
}
.mi-clase {
    width: 200px; /* Ajusta el ancho según tus necesidades */
}
    .table th,
    .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
        background-color: #f8f9fa; /* Color de fondo para las cabeceras */
    }

    /* Estilos alternados para filas */
    .table tbody tr:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, 0.05); /* Color de fondo para filas impares */
    }

    /* Estilos para filas al pasar el ratón */
    .table tbody tr:hover {
        background-color: rgba(0, 0, 0, 0.075); /* Color de fondo al pasar el ratón */
    }

    /* Estilos para las celdas de la primera columna */
    .table tbody td:first-child {
        border-left: 1px solid #dee2e6;
    }

    /* Estilos para las celdas de la última columna */
    .table tbody td:last-child {
        border-right: 1px solid #dee2e6;
    }

    /* Estilos para la última fila */
    .table tbody tr:last-child td {
        border-bottom: 1px solid #dee2e6;
    }
